<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/defaults.xml" />
	<property name="LOG_FILE"
		value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}/spring.log}" />
	<include
		resource="org/springframework/boot/logging/logback/console-appender.xml" />
	<logger name="org.springframework.web" level="INFO" />

	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>
			<pattern>${FILE_LOG_PATTERN}</pattern>
		</encoder>
		<!-- 按照文件大小和时间来划分日志，每天产生一个日志文件，同一天文件大小超过20MB进行分割 
			demo.2017-10-24.1.log 
			demo.2017-10-24.2.log -->
		<rollingPolicy
			class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${LOG_FILE}.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<!-- 每个文件最大20MB -->
			<maxFileSize>20MB</maxFileSize>
			<!-- 日志保存天数 -->
			<maxHistory>60</maxHistory>
			<totalSizeCap>20GB</totalSizeCap>
		</rollingPolicy>
	</appender>

	<!-- 生产环境 -->
	<springProfile name="prod">
		<root level="INFO">
			<appender-ref ref="FILE" />
		</root>
	</springProfile>

	<!-- 开发环境 -->
	<springProfile name="dev">
		<root level="INFO">
			<appender-ref ref="CONSOLE" />
		</root>
	</springProfile>
	<!-- 测试环境 -->
	<springProfile name="test">
		<root level="INFO">
			<appender-ref ref="FILE" />
		</root>
	</springProfile>

</configuration>